[submodule "libs/nbnet"]
	path = libs/nbnet
	url = https://github.com/nathhB/nbnet.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/libdatachannel"]
	path = libs/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
