[submodule "libs/nbnet"]
	path = libs/nbnet
	url = https://github.com/alufers/nbnet.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/libdatachannel"]
	path = libs/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "libs/capnproto"]
	path = libs/capnproto
	url = https://github.com/capnproto/capnproto.git
[submodule "libs/mbedtls"]
	path = libs/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "libs/gameanalytics-sdk-cpp"]
	path = libs/gameanalytics-sdk-cpp
	url = https://github.com/GameAnalytics/gameanalytics-sdk-cpp.git
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git
